.inputColor {
    position: relative;
}
.inputColor input {
    padding-left: 20px;
}
.colorBox {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 5px;
    marginLeft: '40%';
}